form {
    display: flex;
    margin-right: 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #f2f8f3;
    &:hover {
        border-color: #1b4332;
        cursor: pointer;
    }


    & input {
        border-radius: 20px;
        border: 1px solid transparent;
        outline: none;
    }
    & button {
        border-radius: 20px;
        border: none;
    }
}